<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ name }}</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body class="container">
        <h1 {% if any_errors %}style="color: red"{% endif %}>{{ name }}</h1>
        <hr>
        {% for row, errors in rows %}
        <div id="idea_{{loop.index0}}">
            {% if errors %}
                <h2 style="color: red">{% if row.title %}{{ row.title }}{% else %}NO TITLE{% endif %}</h2>
                <h4 style="color: red">{% if row.desc %}{{ row.desc }}{% else %}NO DESCRIPTION{% endif %}</h4>

                {% if row.details %}
                <h5 style="color: red">Details</h5>
                <ul style="color: red">
                    {% for detail in row.details %}<li>{{ detail }}</li>{% endfor %}
                </ul>
                {% endif %}

                {% if row.comments %}
                <h5 style="color: red">Comments</h5>
                <ul style="color: red">
                    {% for comment in row.comments %}<li>{{ comment }}</li>{% endfor %}
                </ul>
                {% endif %}

                <h5 style="color: red">YOU FUCKED UP:</h5>
                <ul style="color: red">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h2>{{ row.title }}</h2>
                <h4>{{ row.desc }}</h4>
                {% if row.details %}
                <h5>Details</h5>
                <ul>
                    {% for detail in row.details %}<li>{{ detail }}</li>{% endfor %}
                </ul>
                {% endif %}

                {% if row.comments %}
                <h5>Comments</h5>
                <ul>
                    {% for comment in row.comments %}<li>{{ comment }}</li>{% endfor %}
                </ul>
                {% endif %}
            {% endif %}
        </div>
        <hr>
        {% endfor %}
    </body>
</html>
